<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="libs/slick.min.js"></script>
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<script src="libs/jquery.formstyler.min.js"></script>
<script src="libs/ion.rangeSlider.min.js"></script>
<!-- <script src="libs/jquery.rateyo.min.js"></script> -->
<script src="libs/jquery.validate.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/jquery.magnific-popup.js"></script>
<!-- <script src="libs/datepicker.min.js"></script> -->
<script src="js/script.min.js"></script>