@import './vars';
@import './mixins';
@import './fonts';
@import './null';

.container {
    max-width: $container + $gap * 2;
    padding: 0 $gap;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    /* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: #fff;
        backdrop-filter: blur(31px);
    } */
}

.section {
    padding: 80px 0;

    &__title {}

    &__subtitle {}
}